div
{
color: aquamarine(248, 4, 4);
}
img{
display: block;
}
#test{
    color: black;
}
body{
    background-image: linear-gradient(120deg,blue, red );
    color:aqua;
    font-family:"poppins",sans-serif;
    min-height: 100vh;
}
/* .menu a:hover {
    background-color: rgb(102, 57, 238);
    color: #5fdff5;
    border-color: #ec43ff;
    
} */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(120deg,red,blue);
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover */
  li a:hover {
    background-color: #111;
  }